/* NAVIGATION BAR */

nav {
  position: fixed;
  top: 0px;
  width: 100%;
}
body {
  margin: 0;
}
ul {
  margin-top: 0;
  list-style: none;
  background-color: #333;
  display: flex;
  padding: 0;
}
li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 14px 16px;
  text-align: center;
}
li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #04aa6d;
}

/* Create.html */

.createBody {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.headerInput {
  width: 354px;
  font-size: larger;
}

.postInput {
  width: 100%;
  resize: none;
  font-size: large;
}

/* main.html */

.mainHeader {
  text-align: center;
  margin-top: 60px;
}

.material-symbols-outlined {
  font-size: 36px;
  cursor: pointer;
}

.material-symbols-outlined:hover {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" -25, "opsz" 48;
}

.allPosts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.postContainer {
  display: flex;
  margin: 20px;
  background-color: aliceblue;
  min-width: 20%;
  max-width: 600px;
}

.voteContainer {
  padding: 10px;
  border-right: 3px solid white;
  text-align: center;
}

.content {
  width: 100%;
}

.content p:first-child {
  background-color: rgb(191, 198, 204);
  margin: 0;
  padding: 5px;
}

.content p:nth-child(3) {
  margin: 0;
  padding: 5px;
  font-size: 1.2em;
  line-height: 1.6em;
  text-indent: 1em;
}

.voteCount {
  font-weight: bolder;
  font-size: 2em;
}

.header {
  text-align: center;
  margin-bottom: 0;
}

.closeBtn {
  float: right;
  margin-right: 5px;
  font-weight: bolder;
  color: red;
  cursor: pointer;
}
.editBtn {
  float: right;
  margin-right: 5px;
  font-weight: bolder;
  color: green;
  cursor: pointer;
}

/* GENEL */

form {
  text-align: center;
}
